<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Digital Invite{% endblock %}</title>
    <style>
        /* Estilos comuns aqui */
        body {
            font-family: 'Arial', sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f7f7;
            color: #333;
        }
        /* Mais estilos... */
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
